@media screen and (max-width:1300px) {
    .display-movie, .category-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width: 1100px) {
    .menu{
        width: 80%;
    }
    .contact-container{
        width: 500px;
    }
}
@media screen and (max-width: 1000px) {
   .body-container.flexbox.video{
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
   }
   .display-movie.video{
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
   }
}
@media screen and (min-width: 801px) {
    .header-container-small{
        display: none;
    }
    .header-container{
        display: block;
    }
}
@media screen and (max-width: 800px) {
    .header-container{
        display: none;
    }
    .burger-menu{
        width: 30px;
        height: 30px;
    }
    .burger-menu > div{
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background-color: #fff;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
    }
    .burger-menu > div:nth-child(2){
        margin: 9px 0;
    }
    .burger-menu.open > div:first-child{
        transform-origin:  left;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .burger-menu.open > div:last-child{
        transform-origin: left;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    .burger-menu.open > div:nth-child(2){
        background: transparent;
    }
     .header-container-small.flexbox{
        align-items: start;
     }
    .menu-container{
        display: none;
    }
    .menu-container > div, .menu a, .flexbox.about-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .menu-container > div > div{
        margin: 0 0 20px;
    }
    .menu a{
        margin: 10px 0;
    }
    .dots{
        margin: 30px auto;
    }
    .subtitle{
        font-size: 25px;
    }
    .about-container > div{
        width: 90%;
        padding: 0;
        margin: 10px auto;
    } 
    .about-container h1, .about-container h2{
        font-size: 18px;
    }

    .contact-container{
        grid-template-columns: 1fr;
        width: 80vw;
    }

    #contact.flexbox{
        flex-direction: column;
    }
    #contact > p{
        width: 100%;
        padding: 20px 0;
    }
    .contact-item textarea, .contact-item textarea:focus{
        width: 92%;
    }
    .contact-item input, .contact-item input:focus{
        width: 95%;
    }
    .send-btn{
        padding: 10px 30px;
        /* font-size: 18px; */
    }
}
@media screen and (max-width: 700px) {
    .display-movie{
        grid-template-columns: repeat(2, 1fr);
    }
    .category-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .details #movie-name{
        font-size: 20px;
    }
    .details > div:last-child{
        font-size: 16px;
    }
    .controls-container i{
        font-size: 16px;
        padding: 0 5px;
    }
    .timer{
        padding: 5px 0;
    }
}
@media screen and (max-width: 600px) {
    .body-container{
        padding: 20px;
    }
    .dot{
        width: 20px;
    }
    .dots{
        width: 50%;
        margin-top: 10px;
    }
    .flexbox.footer-container{
        flex-direction: column;
    }
    #video-player{
        padding: 5px;
    }
    .controls-container{
        padding: 5px;
        left: 5px;
        bottom: 8px;
    }
    .controls-container i{
        padding: 0 5px;
        font-size: 18px;
    }
    .timer span{
        font-size: 13px; 
    }
}
@media screen and (max-width: 550px) {
    .display-movie.video{
        grid-template-columns: repeat(2, 1fr);
    }
    .selected-movie.flexbox{
        flex-direction: column;
        margin: 0 auto 20px;
    }
}
@media screen and (max-width: 450px) {
    .display-movie, .category-container{
        grid-template-columns: 1fr;
    }
    .subtitle{
        font-size: 20px;
    }
    p{
        font-size: 13px;
    }
    .about-container h1,.about-container h2{
        font-size: 17px;
    }
    .footer{
        padding: 20px 10px;
    }
    .footer img{
        width: 70%;
    }
    .footer-container a, .footer-container p{
        font-size: 16px;
    }
    .copyright{
        font-size: 10px;
    }
}
@media screen and (max-width: 400px) {
    .header{
        padding: 30px 10px;
    }
    .website-name{
        font-size: 20px;
    }
    .search, #search-small{
        width: 200px;
    }
    #search-small::placeholder{
        font-size: 13px;
    }
    .menu-container a{
        font-size: 16px;
    }
    .body-container{
        padding: 10px ;
    }
    .slide > img{
        width: 7%;
    }
    .dot{
        width: 15px;
        height: 2px;
    }
    .about-container .flexbox{
        flex-direction: column;
    }
    #contact{
        padding: 30px 10px;
    }
    .contact-item textarea, .contact-item textarea:focus{
        width: 84%;
    }
    .contact-item input, .contact-item input:focus{
        width: 90%;
    }
    .display-movie.video{
        grid-template-columns: 1fr;
    }
    #video-player{
        padding: 3px;
    }
    .controls-container{
        padding: 3px;
        left: 3px;
        bottom: 6px;
    }
    .controls-container i{
        padding: 0 3px;
        font-size: 15px;
    }
    .timer span{
        font-size: 11px; 
    }
    .timer{
        padding: 3px 0;
    }
}
@media screen and (max-width: 250px) {
    .search, #search-small{
        width: 150px;
    }
    #search-small::placeholder{
        font-size: 13px;
    }
    .menu-container a{
        font-size: 15px;
    }
    .movie-item img{
        height: 200px;
    }
    .movie-item{
        max-width: 150px;
    }
    .contact-item textarea, .contact-item textarea:focus{
        width: 74%;
    }
    .contact-item input, .contact-item input:focus{
        width: 80%;
    }
}