*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.flexbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #fff;
}
.body-container{
    color: #fff;
}
.subtitle{
    font-size: 30px;
    margin: 30px 0;
}
.hidden{
    display: none;
}
/* *modal */
.modal{
    border-radius: 15px;
}
/** header */
.header{
    padding: 30px;
    background: linear-gradient(to right,#2973B2, #7C00FE, #FF2929);
    background-size: 400% 400%; 
    animation: background 30s ease infinite;
}
@keyframes background {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}
.header-container, .body-container, .footer-container{
    max-width: 1500px;
    margin: 0 auto;
}
.logo{
    background-color: #000;
    width:30px;
    height:30px;
    border-radius: 10px;
    padding: 5px;
}
.search{
    position: relative;
    width: 250px;
    height: 30px;
}
#search, #search-small{
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.258);
    border-radius: 30px;
    width: 250px;
    padding:  10px 15px; 
    position: absolute;
    top: 0;
    left: 0;
}
#search:focus, #search-small:focus{
    outline: 0;
}
#search::placeholder, #search-small::placeholder{
    color: #fff;
    font-size: 15px;
}
#search:focus + .search-img, #search-small:focus + .search-img{
    right: -30px;
}
.search-img{
    position: absolute;
    right: 10px;
    top: 5px;
    transition: all .5s ease-in-out;
}
.sign-in{
    padding:0 10px;
}
.website-name{
    margin-left: 10px;
    font-size: 25px;
}
.menu{
    width: 50%;
    margin: 50px auto 0;
}
.menu a{
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease-in-out;

}
.menu a:hover{
    color: #ffffffab;
}



/** body */
body{
    background-color: #000;
}
.body-container{
    padding: 50px 30px;
}
/** Home  */
#home{
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}
.slide{
    position: relative;
    display: flex;
    max-height: 530px;
}
.slide .img{
    width: 100%;
    transition: transform 0.5s ease;
}
.slide .img img{
    max-width: 100%;
}

.slide > img {
    z-index: 3;
    position: absolute;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    padding: 5px;

}
.slide > img:first-child{
    top: 50%;
    left: 20px;
    transform: translate(0%, -50%);
}
.slide > img:last-child{
    top: 50%;
    right: 20px;
    transform: translate(0%, -50%);
}
.slide > img:hover{
    background-color: #0000003c;
}
.dots{
    width: 30%;
    margin: 70px auto;
}
.dot{
    width: 30px;
    height: 3px;
    background-color: #ffffff77;
    cursor: pointer;
}
.dot.active{
    background-color: #fff;
}
/* *top rated section */
.display-movie{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 50px auto;
}
.movie-item{
    margin: 30px auto;
    max-width: 200px;
    position: relative;
}
.top-rating{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: red;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}
.movie-item img{
    max-width: 100%;
    height: 300px;
}
.movie-item .label{
    height: 30px;
    font-size: 20px;
    margin: 20px 0;
}
.rating{
    width: 80%;
    margin: 0 auto;
}
.rating i{
    font-size: 20px;
    color: #FFEB00;
}

/* * categories section */
#categories{
    text-align: center;
}
.category-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 50px;
    column-gap: 20px;
    place-items: center; 
    width: 100%;
    margin: 30px auto;
}
.category-item{
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    border-radius: 20px;
    transition: all .5s ease-in-out;
}
.category-item:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px #fff;
}
.category-item > div {
    position: relative;
    max-width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
}
.category-item img{
    width: 100%;
    object-fit: cover;
}
.category-item .overlay{
    position: absolute;
    top: 0;
    background-color: #0000007c;
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
}
.category-item .overlay:hover{
    background-color: transparent;
}


/* * about section */
#about {
     text-align: center;
     margin: 50px auto;
}
.about-container > div {
    width: 50%;
    padding: 0 30px;
}
.about-img img{
    border-radius:50%;
    width: 100%;
}

.about-container > div:last-child div{
    padding: 20px 0;
}
.about-container  h2{
    padding: 10px;
    font-size: 20px;
}

/* * contact us section */
#contact{
    background-color: #ffffffae;
    border-radius: 30px;
    margin: 50px auto;
    padding: 50px 30px;
}
#contact > p{
    color: #000;
    line-height: 20px;
    width: 50%;
    padding: 20px;
    margin: 0 auto;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 700px;
}
.contact-container > div, .message{
    margin-top: 40px;
}
.contact-item{
    position: relative;
    padding: 20px 0;
    min-height: 20px;
}
.message{
    margin-bottom: 50px;
}
.contact-item input, .contact-item label, .contact-item textarea{
    color: #000;
    position: absolute;
    transition: all .5s ease-in-out;
    top: 0;
}
.contact-item label{
    left: 10px;
    top: 10px;
}
.message label{
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}
.contact-item input:focus ~ label, .contact-item input:valid ~ label, .contact-item textarea:focus ~ label, .contact-item textarea:valid ~ label{
    top: -25px;
}

.contact-item input, .contact-item input:focus, .contact-item textarea, .contact-item textarea:focus{
    border: none;
    outline: none;
    border-bottom: 2px solid #000;
    background: transparent;
    padding:  10px 15px;
    font-size: 18px;
    width: 85%;
}
.contact-item textarea, .contact-item textarea:focus{
    padding: 25px;
    resize: none;
    width: 85%;
    height: 40px;
    font-size: 15px;
}
.contact-item textarea::-webkit-scrollbar {
    width: 5px;
}
.contact-item textarea::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px; 
}
.contact-item textarea::-webkit-scrollbar-thumb {
    background-color: #000; 
    border-radius: 10px; 
}
.contact-item textarea {
    scrollbar-width: thin; 
    scrollbar-color: #000 #fff;
}
.error{
    color: #D84040;
}
.send-btn{
    background-color: #000;
    border-radius: 30px;
    padding: 15px 40px;
    width: max-content;
    height: max-content;
    margin: 20px auto 0;
    transition: all .5s ease-in-out;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;
    font-weight: bold;
}
.send-btn:hover{
    background-color: transparent;
    border: 2px solid #000;
    color: #000;
}

/** movie section */
#movies .movie-item{
    position: relative;
}
#movies .overlay, #top-rated .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 300px;
    background-color: #0000007c;
    justify-content: center;
}
#top-rated .overlay{
    left:-10px;
    top: -10px;
    width: 110%;
    height: 310px;
}
#movies .overlay img, #top-rated .overlay img{
    background-color: red;
    padding: 10px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* * pagination section */
.pagination{
    max-width: 200px;
    margin: 0 auto;
}
.pagination span{
    margin: 0 auto;
    font-size: 20px;
    
}
.pagination #pages{
    width: 70%;
}
.pagination span:not(.active){
    color: #ffffff77;
}


.flexbox.video, .flexbox#actors{
    align-items: start;
}
.display-movie.video{
    grid-template-columns: 1fr;
    margin-top: 0;
    width: 50%;
}
/* *Video player */
#top-rated.video .movie-item{
    max-width: 150px;
}
#top-rated.video .movie-item img{
    max-width: 100%;
    height: 200px;
}
#top-rated.video .movie-item .overlay{
    left:-10px;
    top: -10px;
    width: 110%;
    height: 200px;
}
#top-rated.video .movie-item .overlay img{
    height: auto;
}
.selected-movie.flexbox{
    align-items: start;
    margin: 30px auto 80px;
}
.selected-movie > div:first-child{
    max-width: 200px;
}
.selected-movie .details{
    width: 85%;
}
.details > div{
    padding: 10px 20px;
}
.details div:nth-child(2){
    width: max-content;
}
.details div:nth-child(2) div{
    padding-right: 10px;
}
.selected-movie img{
    width: 100%;
}
.selected-movie .rating{
    width: 50px;
    margin: 0;
}
#movie-name{
    font-size: 30px;
    font-weight: bold;
}
#actors{
    width: max-content;
}
#actors p, #actors div{
    padding: 5px;
}
#main-video{
    max-width: 100%;
    z-index: 0;
}
#main-video::-webkit-media-controls {
    display: none !important;
}

#video-player{
    padding: 10px;
    background-color: #31363F;
    position: relative;
}
#video-player.openFullScreen{
    border: none;
    background-color: #000;
    padding: 0;
}

#video-player.openFullScreen #main-video{
    width: 100%;
    height: 100%;
    padding: 10px;
   
}
#video-player.openFullScreen > .controls-container{
    background-color: #31363F;
    padding: 20px;
}
#video-player.openFullScreen > .controls{
    padding: 10px 0;
}
.controls-container{
    background-color: #0000003d;
    padding: 10px;
    user-select: none;
    position: absolute;
    bottom: 14px;
    left: 10px;
    right: 10px;
}
.controls-container i{
    padding: 0 10px;
}
.progress{
    width: 100%;
    height: 5px;
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.progres-time{
    position: absolute;
    bottom: 90px;
    left: var(--x);
    transform: translateX(-50%);
    padding: 5px 10px;
    font-size: 16px;
    background-color: #000;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
.progres-time::before{
    content: "";
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #000;
    width: 15px;
    height: 15px;
    z-index: -1;

}
.progress-bar{
    background-color: #000;
    width: 0;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
    position: relative;
}
.progress-bar::before{
    content: " ";
    position: absolute;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #000;
}
.timer{
    padding: 10px 0;
}
.replay, .forward{
    transition: all .1s ease-in-out;
}
.replay:active {
    transform: rotate(-45deg);
}
.forward:active{
    transform: rotate(45deg);
}
#volume{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    overflow: hidden;
    width: 100%;
    height: 5px;
    border-radius: 4px; 
    cursor: pointer; 
    background-color: #fff;
    width: 0px;
    transition: all 0.3s ease-in-out;
}
#volume::-webkit-slider-thumb {
    -webkit-appearance: none; 
    background-color: #000; 
    box-shadow: -400px 0 0 398px #000; 
    height: 5px; 
    width: 7px; 
    border-radius: 50%; 
}
.volum-control{
    padding: 5px;
}
 #volume:hover, .volum-control:hover  #volume{
    width: 80px;
}
.settings{
    position: absolute;
    right: 20px;
    bottom: 100px;
    background-color: #0000003d;
    max-height: 200px;
    overflow-y: scroll;
    display: none;
}
.settings::-webkit-scrollbar{
    width: 8px;
    background-color: transparent;
}
.settings::-webkit-scrollbar-thumb{
    height: 80px;
    border: 2px solid transparent;
    background-color: #31363F;
    border-radius: 10px;
}
.settings div.active::before{
    content: "\e876";
    font-family: "Material Icons";
    position: absolute;
    left: 7px;
    padding-right: 5px;
}
.settings .playback div, .settings .playback p{
    padding: 10px 30px;
    /* line-height: 35px; */
}
.settings .playback div:not(:first-child):hover{
    background-color: #00000051;
}

.give-rating {
    margin: 50px auto;
    text-align: center;
    width: 80%;
    font-size: 20px;
}
#user-rating  {
    width: 200px;
    margin: 10px auto;
    
}
#user-rating  i{
    font-size: 30px;
}
/* *footer section */
.footer{
    padding: 50px;
    background-color: #ffffffae;
}
.footer-container > div > div{
    margin: 30px 0;
}
.footer-container .website-name{
  color: #000;
}
.footer-container a, .footer-container p{
    color: #000;
    font-size: 18px;
}
.footer-container p{
    line-height: 40px;
}
.copyright{
    font-size: 12px;
    margin: 20px 0;
    text-align: center;
    color: #000;
}